<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../static/index.js" type="text/javascript"></script>
    <link type="text/css" rel="stylesheet" href="../static/index.css">
    <meta charset="UTF-8">
    <title>Solar Monitor</title>
</head>
<a href="/">
    <h1>Solar Monitor</h1>
</a>
<body>
{% if 'Error code' in data %}
    <p>An error occurred!</p>
{% else %}
    <div class="content">
        <h2>Latest Log</h2>
        <table>
            <tr>
                <th>Time</th>
                <th>Grid Voltage</th>
                <th class="hide">PV Voltage</th>
                <th>PV Current</th>
                <th>PV Power</th>
                <th>Battery Voltage</th>
                <th>Battery Capacity</th>
                <th>Battery Charging Current</th>
                <th>Battery Discharge Current</th>
                <th class="hide">Output Voltage</th>
                <th class="hidden">Output Current</th>
                <th>Output Power</th>
                <th class="hide">Total generation</th>
                <th class="hidden">Today generation</th>
            </tr>
            <tr>
                <td>{{ data['Timestamp'] }}</td>
                <td>{{ data['Grid Voltage'] }}</td>
                <td class="hide">{{ data['PV1 Input Voltage'] }}</td>
                <td>{{ data['PV1 Input Current'] }}</td>
                <td>{{ data['PV1 Charging Power'] }}</td>
                <td>{{ data['Battery Voltage'] }}</td>
                <td>{{ data['Battery Capacity'] }}</td>
                <td>{{ data['Battery Charging Current'] }}</td>
                <td>{{ data['Battery Discharge Current'] }}</td>
                <td class="hide">{{ data['AC Output Voltage'] }}</td>
                <td class="hidden">{{ (data['AC Output Active Power']|float /data['AC Output Voltage']|float)|round(2) }}</td>
                <td>{{ data['AC Output Active Power'] }}</td>
                <td class="hide">{{ data['Total generation'] }}</td>
                <td class="hidden">{{ data['Today generation'] }}</td>
            </tr>
        </table>
    </div>
{% endif %}
<button onclick=window.location.href='/get_data'>View Logs</button>
</body>
<footer>
    <p class="copyright-text">Copyright © 2022 All Rights Reserved by MajdK.</p>
</footer>
</html>