<div class="content">
    <h2>Latest Log</h2>
    <table>
        <tr>
            <th>Date</th>
            <td>{{ data['dat'][1].split(' ')[0] }}</td>
        </tr>
        <tr>
            <th>Time</th>
            <td>{{ data['dat'][1].split(' ')[1] }}</td>

        </tr>
        <tr>
            <th>Grid Voltage</th>
            <td>{{ data['dat'][2] }}</td>
        </tr>
        <tr>
            <th>PV Power</th>
            <td>{{ data['dat'][4] }}</td>
        </tr>
        <tr>
            <th class="hide">PV Voltage</th>
            <td class="hide">{{ data['dat'][3] }}</td>
        </tr>
        <tr>
            <th>PV Current</th>
            <td>{{ data['dat'][12] }}</td>
        </tr>
        <tr>
            <th>Battery Capacity</th>
            <td>{{ data['dat'][6] }}</td>
        </tr>
        <tr>
            <th>Battery Voltage</th>
            <td>{{ data['dat'][5] }}</td>
        </tr>
        <tr>
            <th>Battery Charging Current</th>
            <td>{{ data['dat'][7] }}</td>
        </tr>
        <tr>
            <th>Battery Discharge Current</th>
            <td>{{ data['dat'][8] }}</td>
        </tr>
        <tr>
            <th>Output Power</th>
            <td>{{ data['dat'][10] }}</td>
        </tr>
        <tr>
            <th class="hide">Output Voltage</th>
            <td class="hide">{{ data['dat'][9] }}</td>
        </tr>
        <tr>
            <th class="hidden">Output Current</th>
            <td class="hidden">{{ (data['dat'][10]|float /data['dat'][9]|float)|round(2) }}</td>
        </tr>
        <tr>
            <th class="hidden">Today generation</th>
            <td class="hidden">{{ data['dat'][14] }}</td>
        </tr>
        <tr>
            <th class="hide">Total generation</th>
            <td class="hide">{{ data['dat'][13] }}</td>
        </tr>
    </table>
</div>