<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../static/index.js" type="text/javascript"></script>
    <link type="text/css" rel="stylesheet" href="../static/index.css">
    <link rel="icon" type="image" href="../static/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Solar Monitor</title>
</head>
<nav>
    <div class="devices">
        <button type="button" type="button" onclick=show_hide_devices()>
            {{ device }}
        </button>
        {% if (devices|length)>1 %}
            <div>
                {% for i in range(devices|length) %}
                    {% if devices[i]!=device %}
                        <button type="button" class="device" onclick=window.location.href=navigate('change_device/{{ devices[i] }}')>
                        {{ devices[i] }}
                    {% endif %}
                </button>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <a href='/'>
        <h1>Solar Monitor</h1>
    </a>
    <div>
        <button class='menu' type="button" onclick=show_hide_btns()>
            Menu
        </button>
    </div>
    <div class="buttons">
        <button type="button"
                onclick=window.location.href=navigate('home')>
            Home
        </button>
        <button type="button"
                onclick=window.location.href=navigate('status')>
            Status
        </button>
        <button type="button"
                onclick=window.location.href=navigate('logs')>
            Logs
        </button>
        <button type="button"
                onclick=window.location.href=navigate('summary')>
            Summary
        </button>
        <button type="button"
                onclick=window.location.href=navigate('add_device')>
            Add Device
        </button>
        <button type="button"
                onclick=window.location.href=navigate('logout')>
            Logout
        </button>
    </div>
</nav>
