{% include "navbar.html" %}

<body>
{% if 'Error code' in summary  or 'Error code' in source_time %}
    <p>An error occurred!</p>
{% else %}
    {% include 'summary.html' %}
{% endif %}
</body>
<div class="pages">
    {% if today %}
        <button type="button" class="next" onclick=window.location.href=navigate('summary')+'?day={{ next }}'>{{ next }}</button>
        <button type="button" onclick=window.location.href=navigate('summary')+'?day={{ today }}'>Today</button>
    {% else %}
        <button type="button" class="next" disabled>{{ next }}</button>
        <button type="button" disabled>Today</button>
    {% endif %}
    <button type="button" class="prev" onclick=window.location.href=navigate('summary')+'?day={{ prev }}'>{{ prev }}</button>
</div>
{% include 'footer.html' %}
</html>